/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #293462
  Yellow: #FFF1C1
  Red: #FE5F55
  Dark Red: #A64942
*/

.box {
  background-color: #293462;
}

.square {
  width: 200px;
  height: 200px;
  background-color: #FFF1C1;
  box-shadow: 100px -50px #FE5F55,-50px 100px #FE5F55, 100px 0 #A64942, 0 100px #A64942;
}
