/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #1e3163
  Background-circle: #fff1c0
  Mountains: #ff5f54
*/

.box {
  background-color: #1e3163;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #fff1c0;
  border-radius: 50%;
  overflow: hidden;
}
.circle::after{
  content: '';
  position: absolute;
  top: 91px;
  left: 66px;
  width: 150px;
  height: 150px;
  background-color: #ff5f54;
  rotate:45deg;
  box-shadow: -30px 130px 0 0 #ff5f54;
}
